<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FormaZone</title>
        <link rel="stylesheet" href="{% static 'css/style_Accueil.css' %}" />
        <link rel="stylesheet" href="{% static 'css/Style_nav.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style_nouv.css' %}" />
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
        
     
      
        
    </head>
    <body>
      <nav class="navbar">
        <a href="#" class="logo">FORMAZONE</a>
        <div class="nav-links">
            <ul>
                <li class="active"><a href="#">ACCUEIL</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#" class="Espace_client">SE CONNECTER</a></li>
                <a class="cta" href="{% url 'Recherche' %}"><button>CHERCHER UNE FORMATION</button></a>
            </ul>
            
        </div>
        
        <img src="../../static/img/menu-btn.png" alt="menu hamburger" class="menu-hamburger">
    </nav>
          
    
        <div class="back">
        <div class="section">
            <div class="collone">
                <div class="contenue">
                    <p class="titre"><span class="span0">Accélérez votre </span><span class="span1">recherche de formation</span></p>

                    <p class="soustitre">Centraliser les informations en un point, c'est notre méthode pour simplifier le monde de la formation</p>
                </div>

                <div class="btn1">
                    <a class="btn1" href="#recherche"><button>COMMENCER LES RECHERCHES</button></a>
                </div>
                <div class="btn2">
                   <a class="btn2" href="#information"><button>Plus d'informations</button></a>
                </div>             
            </div>
            <img class="illustration" src="{% static 'img/Illustration.png' %}" alt="illustration">
        </div>
      </div>
      <div class="transition_color1">

      </div>
      <div class="back2" id="information">
        <div class="information">
            <div class="collone2">
                <div class="contenue2">
                    <p class="titre2"> Les formations professionnelles</p>
                    <p class="contenue_info">Rechercher une formation éligible au CPF n'a jamais été aussi simple et rapide. Avec Open Formation, vous avez accès à plus de 250.000 formations certifiantes finançées par Pôle-Emploi, les OPCOs oùaz votre Compte Formation.<br/><br/>
                    Les formations proposées sont ouvertes aux salariés, demandeurs d'emploi ou toute personne en reconversion professionnelle. Les organismes de formation référencés sur cette plateforme sont titulaires du label qualité Qualiopi et possèdent un numéro de déclaration d’activité. Vous pouvez donc vous inscrire à ces formations en toute sérénité dans la mesure ou elle répondent à votre projet professionnel.<br/><br/>
                    Avant de contacter un organisme de formation, renseignez-vous sur les modalités d'apprentissage, le programme, ainsi que le suivi proposé pendant et après la formation. Pensez aussi à consulter les avis des apprenants ayant déjà suivi cette formation pour vous faire une meilleure idée de la qualité du service proposé.</p>
                </div>
            </div>


            <div class="collone1">

              <div class="card">

                <div class="content">

                  <div class="imgBx">

                    <img src="../../static/img/Ecran.png">

                   </div>

                    <h2>DEVELOPPEMENT <br> INFORMATIQUE</h2>

                </div>

                <ul class="navigation">

                  <li>
                    <a href="#">
                      <ion-icon name="person-outline"></ion-icon>
                         Edit Profile</a>
                   </li>
                   <li>
                    <a href="#">
                      <ion-icon name="book-outline"></ion-icon>
                      Logou</a>
                   </li>
                   <li>
                     <a href="#">
                       <ion-icon name="flag-outline"></ion-icon>Edit Profile</a>
                   </li>
                  <li>
                    <a href="#">
                     <ion-icon name="flag-outline"></ion-icon>Edit Profile</a>
                  </li>

               </ul>
               
              <div class="toggle">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
              </div>

              <div class="card1">

                <div class="content">
  
                  <div class="imgBx">
  
                    <img src="../../static/img/Network.png"/>
  
                   </div>
  
                    <h2>WEB MARKETING</h2>
  
                </div>
  
                <ul class="navigation">
  
                  <li>
                    <a href="#">
                      
                         WORD et Excel</a>
                   </li>
                   <li>
                    <a href="#">
                      
                      GOOGLE DOCS</a>
                   </li>
                   <li>
                     <a href="#">
                      POWERPOINT Animation & multimedia</a>
                   </li>
                  <li>
                    <a href="#">
                     ACROBAT DC, les bases</a>
                  </li>

                  <li>
                    <a href="#">
                     CYBERSECURITER</a>
                  </li>

                  <li>
                    <a href="#">
                      Ms OFFICE</a>
                  </li>

                  
  
               </ul>
               
              <div class="toggle1">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
              </div>

              <div class="card2">

                <div class="content">

                  <div class="imgBx">

                    <img src="../../static/img/Pc.png"/>

                   </div>

                    <h2>BUREAUTIQUE et OFFICE</h2>

                </div>

                <ul class="navigation">

                  <li>
                    <a href="#">
                      <ion-icon name="person-outline"></ion-icon>
                         Edit Profile</a>
                   </li>
                   <li>
                    <a href="#">
                      <ion-icon name="book-outline"></ion-icon>
                      Logou</a>
                   </li>
                   <li>
                     <a href="#">
                       <ion-icon name="flag-outline"></ion-icon>Edit Profile</a>
                   </li>
                  <li>
                    <a href="#">
                     <ion-icon name="flag-outline"></ion-icon>Edit Profile</a>
                  </li>

               </ul>
               
              <div class="toggle2">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
              </div>



              <div class="card3">
                
                <div class="content">

                  <div class="imgBx">

                    <img src="../../static/img/Banque.png"/>

                   </div>

                    <h2>BANQUE et FINANCE</h2>

                </div>

                <ul class="navigation">

                  <li>
                    <a href="#">
                      <ion-icon name="person-outline"></ion-icon>
                         Edit Profile</a>
                   </li>
                   <li>
                    <a href="#">
                      <ion-icon name="book-outline"></ion-icon>
                      Logou</a>
                   </li>
                   <li>
                     <a href="#">
                       <ion-icon name="flag-outline"></ion-icon>Edit Profile</a>
                   </li>
                  <li>
                    <a href="#">
                     <ion-icon name="flag-outline"></ion-icon>Edit Profile</a>
                  </li>

               </ul>
               
              <div class="toggle3">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
              </div>

              <div class="btn3">
                <a class="btn3" href="#toutformation"><button>VOIR PLUS DE FORMATION</button></a>
             </div>       
            </div>           
        </div>

      </div>

      <div class="transition_color2">

      </div>


        <div class="reserch" id="recherche">
          <div class="Point_gauche">
              <div class="dessin"></div>
              <div class="dessin1"></div>
              <div class="dessin2"></div>
              <div class="dessin3"></div>
              <div class="dessin4"></div>
              <div class="dessin5"></div>
              <div class="dessin6"></div>
              <div class="dessin7"></div>

          </div>

          <div class="Contenu_primaire">

              <h1 class="Titrage"> 254.255 formations disponibles</h1>
              <h1 class="Soustitrage"> 254.255 formations pour vous !</h1>

              <div class="Inputeur">
                  <form method="get" action="{% url 'Resultat' %}" >
                <input type="search" name="domaine_de_recherche" id="domaine_de_recherche" placeholder="Domaine de la formation ...">
                <input type="search" name="Lieu" id="Lieu" placeholder="Où ?"/>
                <div class="search_logo">
                  <button><ion-icon name="search-outline"></ion-icon></button>
                </div>
                </form>
              </div>

              <div class="Checkboxeur">
                <label class="checkbox"> 
                  <input class="checkbox_input" type="checkbox">
                  <svg class="checkbox_check" width="25" 
                height="25">
                    <polyline points="20 6 9 17 4 12"></polyline>
                  </svg>
                  CERTIFICATIONS
                </label>
                <label class="checkbox"> 
                  <input class="checkbox_input" type="checkbox">
                  <svg class="checkbox_check" width="25" 
                height="25">
                    <polyline points="20 6 9 17 4 12"></polyline>
                  </svg>
                  FORMATIONS
                </label>
                
              </div>


              <div class="mostView">
                <div class="btn4">
                  <a class="btn4" href="#"><button>BUREAUTIQUE</button></a> 
                </div>   
                           
                <div class="btn4">
                  <a class="btn4" href="#"><button>BANQUE ET ASSURANCE</button></a> 
                </div>      

                <div class="btn4">
                   <a class="btn4" href="#"><button>DEVELOPPEMENT WEB(Front-End)</button></a> 
                </div>     

                <div class="btn4">
                  <a class="btn4" href="#"><button>MEDECINE</button></a> 
                </div>   
                <div class="btn4">
                  <a class="btn4" href="#"><button>COMMUNITY MANAGEMENT</button></a> 
                </div>   
                <div class="btn4">
                  <a class="btn4" href="#"><button>MACHINE LEARNING</button></a> 
                </div> 
                <div class="btn4">
                  <a class="btn4" href="#"><button>DEVELOPPEMENT WEB(Front-End)</button></a> 
               </div> 
               <div class="btn4">
                <a class="btn4" href="#"><button>DEVELOPPEMENT API</button></a> 
             </div> 
             <div class="btn4">
              <a class="btn4" href="#"><button>DEVELOPPEMENT APPLICATION</button></a> 
           </div> 
           <div class="btn4">
            <a class="btn4" href="#"><button>APPLE ENVIRONNEMENT</button></a> 
         </div> 
              </div>
              <div class="btn5">
                <a class="btn5" href="#toutformation"><button>PLUS DE FORMATIONS</button></a>
              </div> 
              
              
          </div>

          <div class="Point_Droit">
            <div class="dessin"></div>
            <div class="dessin1"></div>
            <div class="dessin2"></div>
            <div class="dessin3"></div>
            <div class="dessin4"></div>
            <div class="dessin5"></div>
            <div class="dessin6"></div>
            <div class="dessin7"></div> </div>
              
        </div>

        <div class="transition_color3">
          
        </div>
        <div class="tout_formation" id="toutformation">
          <h2>Découvrez de nouvelles formations</h2>
          <div class="grandbtn">
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
            <div class="btn6">
              <a class="btn6_toutformation" href="#"><button>FINANCE & ASSURANCE & BANQUE <br><spam class="petit_titrage">Travaux d'interets généraults</spam></button></a>
            </div>
          
          </div>

        
          

        </div>
    





      </body>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      
    <script>
      const card = document.querySelector('div.card');
      const cardtoggle = document.querySelector('div.toggle');

      const card1 = document.querySelector('.card1');
      const card1toggle1 = document.querySelector('.toggle1');

      const card2 = document.querySelector('.card2');
      const card1toggle2 = document.querySelector('.toggle2');

      const card3 = document.querySelector('.card3');
      const card1toggle3 = document.querySelector('.toggle3');



      cardtoggle.onclick = function(){
        card.classList.toggle('active');
        card1.classList.remove('active');
        card2.classList.remove('active');
        card3.classList.remove('active');
      }

      card1toggle1.onclick = function(){
        card1.classList.toggle('active');
        card.classList.remove('active');
        card2.classList.remove('active');
        card3.classList.remove('active');
      }

      card1toggle2.onclick = function(){
        card2.classList.toggle('active');
        card.classList.remove('active');
        card1.classList.remove('active');
        card3.classList.remove('active');
      }

      card1toggle3.onclick = function(){
        card3.classList.toggle('active');
        card.classList.remove('active');
        card1.classList.remove('active');
        card2.classList.remove('active');
      }


    </script>

    <script type="text/javascript">
      window.addEventListener("scroll", function(){
        var navbar = document.querySelector(".navbar");
        navbar.classList.toggle("sticky", window.scrollY > 0);
      })

    </script>

    <script>
      const menuHamburger = document.querySelector(".menu-hamburger")
      const navLinks = document.querySelector(".nav-links")
  
      menuHamburger.addEventListener('click',()=>{
      navLinks.classList.toggle('mobile-menu')
      })
  </script>
    <script>
        document.querySelectorAll('a[href^="#information"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});
    </script>
    

 
 
    <footer>
      <p>Open Formation © 2022 - <a href="#">Tous droits revervés</a>  - <a href="#">Mentions légales</a> - <a href="#">CGU</a></p>
    </footer>

</html>