.affiche_elements.active{
    width: 70%;
    height: 60%;
    background: #fff;
    border: #0131B4 solid 4px;
    border-radius: 20px;
    position: absolute;
    display: flex;
    top: 30%;
    right: 15%;
    z-index: 500;


}

.teiture{
    display: none;
}

.teiture.active{
    display: block;
    width: 100vw;
    height: 100vh;
    background: rgba(252, 255, 255, 0.21);
}

.affiche_elements{
   
display: none;


}

.contenue_interne{
    position: relative;
    width: 100%;

}

.affiche_elements.active .contenue_interne .toggle_box{
    text-align: end;
}

.affiche_elements.active .contenue_interne .toggle_box ion-icon{
    font-size: 3em;
    font-weight: 700;
    cursor: pointer;
}

.affiche_elements.active .contenue_interne .toggle_box ion-icon:hover{
    color: #0131B4;
}


.search_logo button {
    border: none;
    background: none;
}
.search_logo button:hover{
    border: none;
    background: none;
}